<h3 align="center"> Please fill out this quick survey for us! </h3>
<form action="/api/create" method="post">
<table><tr><td>
  <p><input type="text" name="q1" placeholder="What is your age?"></input></p>
  <p><input type="textarea" name="q3" placeholder="What software do you use to store tasks/items to do?"></input></p>
  <p><input type="textarea" name="q5" placeholder="What feature(s) do you love about your software?"></input></p>

</td><td>
  <p><input type="text" name="q2" placeholder="What is your gender?"></input></p>
  <p><input type="textarea" name="q4" placeholder="Have you used any other software than those listed? If so, what?"></input></p>
  <p><input type="textarea" name="q6" placeholder="What feature(s) do you wish you could have?"></input></p>
</td></tr></table>
<input type="submit" value="Submit Response"></input>
</form>
