<div align="center">
<h3> Thank you for filling out our survey! </h3>
<p> here's a cool gif for ya: </p>
<img src="http://i.kinja-img.com/gawker-media/image/upload/krizzghfqegk0fv0g3ey.gif"/>
</div> 
